<div class="mt-4 mb-3">
<%= link_to 'Crea nuevo producto', new_product_path, class: "btn btn-info d-inline"%>
<%= link_to 'Nueva categoría', new_category_path, class: "btn btn-secondary ml-2 d-inline" %>
</div>

<div class="pt-3 table-responsive">

  <table class="table margin-table-admin table-striped table-bordered">
    
    <thead class="title-table-products">
      <tr>
        <th scope="col">Imagenes</th>
        <th scope="col">Sku</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Description</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Category</th>
        <th scope="col" colspan="3">Options</th>
      </tr>
    </thead>

    <tbody class="text-table-products">
      <% @products.each do |product| %>
        <tr>
          <td><% if product.images.attached? %>
                <% product.images.each do |p| %>
                  <%= image_tag p.variant(resize: "50x50").processed, class: "pt-1 d-inline" %>
                  <%#= link_to 'Remove', delete_image_attachment_product_url(image_url), method: :delete, data: {confirm: 'Estas seguro?'} %>
                <% end %>
          <% end %>  
          </td>
          <td><%= product.sku %></td>
          <td><%= product.name %></td>
          <td><%= product.author %></td>
          <td><%= product.description.truncate(20) %></td>
          <td><%= product.dimension %></td>
          <td>$<%= product.price %></td>
          <td><%= product.stock %></td>
          <td><% product.categories.each do |c| %>
                  - <%= c.name %><br>
              <%end%>    
          </td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>