<% @orders.each do |order| %>

  <% if order.state == 'Pendiente' || order.state == 'Aceptada' || order.state == 'Rechazada' || order.state == 'Enviado' || order.state == 'Finalizado' %>
    <tr>
      <td><%= order.created_at %></td>
      <td><%= order.number %></td>

      <% order.order_items.each do |item| %>
        <td><%= image_tag(item.product.images.first.variant(resize: "50x50").processed) %></td>
        <td><%= item.product.sku %></td>
        <td><%= item.product.name %></td>
        <td><%= item.product.author %></td>
        <td><%= item.product.dimension %></td>
        <td><%= item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.subtotal %></td>
      <% end %>    

      <td><%= order.total %></td>
      <td><%= order.state %></td>

      <% if order.state == 'Pendiente' %>
      <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: '¿Estás seguro de eliminar tu orden?' }, class: "btn btn-warning" %></td>
      <% else%>
        <td> Ya no puedes cancelar esta orden </td>  
      <% end %> 
    
    </tr>
  <% end %> 

<% end %>
