<% content_for :header do %> 
  
    <!-- Banner products index-->
    <div>
      <%=image_tag("banner-3.png", alt: "Responsive image", class: "img-fluid z-depth-1 w-100")%>
    </div>
  
  <% end %>
  
  <div class="color-bg-products">
    <hr>
    <!-- Productos listado -->
       
    <div class="container py-4 text-center">
      <div class="row" id="products-index">
  
        <% @products.each do |p| %>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-4 mx-4" >
          <!-- Card -->
          <div class="card medidas-cards-productos">
  
             <!-- Card image -->
            <div class="view overlay text-center">
              <%= link_to (image_tag p.images.first, class: "card-image-medidas"), p %>
              <div class="mask rgba-white-slight"></div>
            </div>
  
            <!-- Card content -->
            <div class="card-body">
              <div class="border-bottom"></div>
                <!-- Title -->
              <h4 class="card-title pt-3 text-center"><%= p.name %></h4>
              <hr>
                <!-- Text -->
              <p class="card-text text-center">Autor: <%= p.author %></p>
            </div>
  
            <div class="border-bottom"></div>
  
                <!-- Card footer -->
            <div class="rounded-bottom color-card-footer lighten-3 py-3">
              <ul class="list-unstyled list-inline font-small">
                <li class="list-inline-item pr-2 white-text"> <%= link_to 'Ver más', p, class: "btn btn-dark" %></li>
                <li class="list-inline-item pr-2 white-text">
                  <span class="price-text-card">Precio: $<%= p.price %></li></span>
              </ul>
            </div>
                  
          </div>  
        </div> 
        <% end %> 
      <!-- Fin card -->
      </div>
    </div>    
  </div>